server:
  port: 9000
eureka:
  instance:
    hostname: localhost  #主机名
    instance-id: ${eureka.instance.ip-address}:${spring.application.name}:${server.port}
    ip-address: 127.0.0.1
  client:
    service-url:
#      defaultZone: http://localhost:8761/eureka #访问EurekaServer的路径,Eureka服务地址,客户端使用改地址和Eureka进行通信
      defaultZone: http://eureka-server1:8761/eureka,http://eureka-server2:8762/eureka #集群访问
spring:
  application:
    name: eureka-consumer  #当前应用名称,需要使用该名称获取路径