server:
  port: 8761
#Eureka
eureka:
  instance:
    hostname: localhost  #主机名

  client:
    service-url:
      defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka #访问EurekaServer的路径,Eureka服务地址,客户端使用改地址和Eureka进行通信
    register-with-eureka: false  #是否将自己的路径注册到Eureka上,Eureka server一般不需要,client(服务提供方)需要注册
    fetch-registry: false  #是否需要从Eureka中抓取路径,Consumer需要
